<div class="container-overflow-wrap">
  <div class="row banner02">
    <div id='mainContent'>
      <!-- Main page content -->
      <div class="col-md-12 col-sm-12" style="margin:25px 0 25px 0;">
        <div class="col-md-6 col-sm-12 text-left">
          <h1 class="light">Getting started is easy!</h1>
          <span class="mobileHide">
            <h2 class="light" style="font-weight:normal;">Sign up and check on the status of your amazing quotes!</h2>
          </span>
        </div>
        <!-- Begin User sign_up -->
        <div class="col-md-6 col-sm-12 action_box">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
