<%= form_for(request_service) do |f| %>
  <% if request_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request_service.errors.count, "error") %> prohibited this request_service from being saved:</h2>

      <ul>
      <% request_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<tr>
  <td>nothing</td><br/>
</tr>


  </div>
<% end %>
