<div>
  <h1>Listing Requests</h1>
  <div>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>Requests</th>
          <th>description</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <div>
      <tbody>
        <% @requests.each do |req| %>
          <tr>
            <td><%= req.service %></td>
            <td><%= req.description %></td>
            <td><%= link_to 'Show', request_path(req) %></td>
            <td><%= link_to 'Remove', request_path(req) %></td>
        <% end %>
      </tbody>
      </table>
    </div>
    </div>
      <a href="/requests/new">Add request</a>
  </div>
