<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @request.service %>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>


<%= link_to 'Back', requests_path %>
