<!-- Page Content -->
        <div class="row probBanner">
       <!-- Main page content -->
          <div class="col-md-12 col-sm-12" style="margin-top:85px;">
            <div class="col-md-6 col-sm-12 text-left">
              <h1 class="light">Find a Mechanic.</h1>
              <span class="mobileHide">
              <h1 class="light">Book an Appointment.</h1>
              <h1 class="light">And Relax.</h1><br>
              <h3 class="light">It just takes a few easy steps to get you back on the road.</h3>
              <h3 class="light">Certified shops pass a rigorous inspection by our master mechanics for quality work and competitive pricing.</h3>
              <br><br></span>
            </div>
              <!-- Begin Vehicle Search API -->
              <div class="col-md-6 col-sm-12" style="border:solid 1px black;height:auto;margin-top:25px;background: rgba(255, 255, 255, 0.4)">
                <%= render 'formjax', auto: @auto %>
              </div>
          </div>
        </div>
