<!-- Page Content -->
        <div class="row probBanner">
       <!-- Main page content -->
        <center>
         <%= link_to 'Service Centers Sign Up Here!', new_service_center_registration_path, class: "btn btn-lg btn-primary", style: "margin-top: 15px; color: #fff"%>
       </center>
          <div class="col-md-12 col-sm-12">
            <div class="col-md-6 col-sm-12 text-left">
              <h1 class="light">Find a Mechanic.</h1>
              <span class="mobileHide">
              <h1 class="light">Book an Appointment.</h1>
              <h1 class="light">And Relax.</h1><br>
              <h3 class="light">It just takes a few easy steps to get you back on the road.</h3>
              <h3 class="light">Certified shops pass a rigorous inspection by our master mechanics for quality work and competitive pricing.</h3>
              <br><br></span>
            </div>
              <!-- Begin Vehicle Search API -->
              <div class="col-md-6 col-sm-12" style="border:solid 1px black;height:auto;margin-top:25px;background: rgba(255, 255, 255, 0.4)">
                <%= render 'formjax', auto: @auto %>
              </div>
          </div>
        </div>

        <!-- Homepage Marketing -->
        <!-- <div class="row text-center" style="margin-top:40px;">
          <div class="col-md-6 col-sm-12 hero-feature">
            <div class="thumbnail">
              <img src="http://placehold.it/120x80" alt="">
              <div class="caption">
                <h3>Feature Label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p><a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 hero-feature">
            <div class="thumbnail">
              <img src="http://placehold.it/120x80" alt="">
              <div class="caption">
                <h3>Feature Label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p><a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-6 col-sm-12 hero-feature">
            <div class="thumbnail">
              <img src="http://placehold.it/120x80" alt="">
              <div class="caption">
                <h3>Feature Label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p><a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 hero-feature">
            <div class="thumbnail">
              <img src="http://placehold.it/120x80" alt="">
              <div class="caption">
                <h3>Feature Label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p><a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a></p>
              </div>
            </div>
          </div>
        </div> -->
