/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // import bootstrap-sprockets before bootstrap if using bootstrap >= 3.2
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import "meganavbar";
@import "navbar-grey-light";
@import "font-awesome";

/* GLOBAL STYLES */
html {
 font-family: Tahoma;
 -ms-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
}
@media only screen and (max-width: 991px) {
 .mobileHide {display:none;}
}

a:focus {color:#ff6600 !important;}

.WRorange {color:#ff6600;}

:focus {
 outline-color: #D95700 !important;
 outline-style: none;
}

input:hover
input:active,
input:focus,
textarea:active,
textarea:hover,
textarea:focus,
button:focus,
button:active,
button:hover
{
   outline:0px !important;
}
select[disabled] {
   color: #bbb;
}

h1.light, h3.light {
   color:#fff;
   text-shadow: 2px 2px 4px #000;
}

/* ADDING THIS TO CHANGE THE SELECT BOX COLOR */
select{
   background: white !important;
   color:#FFF;
   text-shadow:0 1px 0 rgba(0,0,0,0.4);
}
option:checked, select:checked, option:checked:hover, select:focus option:checked:hover, option:focus, option:active {
               background-color: #D95700;
               color: #fff;
}
checkbox:checked {
               background-color: #D95700;
               color: #D95700;
}
body {
 margin: 0;
 padding-top:0px;
}

.btn {width:auto;}

.hideme {display:none;}
.centerSignup {background-color:#ff6600;color:#fff;padding:2px;border-radius:10px;}
.centerSignup:hover {background-color:#000;color:#fff;}
.centerSignup a {color:#fff;}
.WRfooter {
   padding: 4rem 0;
   margin-top: 4rem;
   font-size: 85%;
   text-align: center;
   background-color: #bbb;
}
.WRfooterLinks {
   display: inline;
   padding-left: 0;
   margin-bottom: 1rem;
   list-style-type: none;
}

/* STEP 1 STYLES */

.probBanner {background-image: url(homepageCar.png);background-position:center;height:590px;}

.vehSelect {
 background: image-url('transparent.png');
 border:solid 1px black;
 height:auto;
 margin-top:25px;
}

hr.vehicleHR {
 border-top: 1px solid #000;
 text-align: center;
}
hr.vehicleHR:after {
 content: 'OR';
 display: inline-block;
 position: relative;
 top: -14px;
 padding: 0 10px;
 background: #333;
 color: #fff;
 font-size: 18px;
 border-radius: 8px;
 border:solid 1px #000
}
.hideme {display:none;}
.hideme2 {display:none;}
.showme {display:block;}

.iconpad {width:20px;}
.iconpadLG {margin-right:10px;}
.nav-tabs {border:0;}
   .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {border-width:0; background:#ff6600 !important;}
   .nav-tabs > li > a {border: none; color: #fff; background:#aaa;}
       .nav-tabs > li.active > a, .nav-tabs > li > a:hover {border: none; color: #fff !important; background:#ff6600;}
       .nav-tabs > li > a::after {content:""; background:#aaa; height:2px; position:absolute; width:100%; left:0px; transition:all 250ms ease 0s; transform:scale(0);}
   .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform:scale(0); }
.tab-nav > li > a::after {background:#000 none repeat scroll 0% 0%; color:#fff;}
.tab-pane {padding:2px 0;}
.tab-content{padding:8px; height:auto;}

.userRow {background-color:#ddd; line-height:auto;}
.userText {vertical-align:middle;}

.apptRow {height:auto; background-color:#ff6600;}
.apptHead {padding:2px 4px; background-color:#222; color:#fff;}
.apptText {padding:2px 4px; color:#fff;}

/* STEP 2 STYLES */
.getStarted {padding:20px;}
.getStarted img {filter:invert(100%);}
.tablink {color:#fff!important;text-decoration:none;padding:5px;font-size:12pt;cursor:pointer;}
.probRed {color:#fff!important;background-color:#ff6600!important;text-decoration:none;border-right:solid 8px #ff6600!important;cursor:pointer}
.probContainer {padding:0;margin:0;border:solid 2px #FF6600;height:590px;padding:0;}
.probHeader {background:#eee;width:100%;padding:8px 0px 8px 15px;}
.probSidenav {z-index:1;margin-bottom:20px;align:right;}
.probSidenav a {padding:4px 0px 4px 0px;height:120px;text-decoration:none;color:#fff;margin-bottom:15px;background-color:#777;border-right:solid 8px #fff;}
.probSidenav a:hover {background-color:#888;text-decoration:none;}
.probSidenav a {display:block}
.probSidenav span {font-size:45pt;}
.probSidenav .w3-dropdown-hover:hover,.probSidenav .w3-dropdown-hover:first-child,.probSidenav .w3-dropdown-click:hover,.w3-dropnav a:hover{background-color:#ccc;color:#000}
.propNavItem {width:80px;}
img.warning:hover {filter: none;-webkit-filter: grayscale(0%);-moz-filter: grayscale(0%);-ms-filter: grayscale(0%);-o-filter: grayscale(0%);cursor:pointer;}
img.warning {filter: none;-webkit-filter: grayscale(0%);-moz-filter: grayscale(0%);-ms-filter: grayscale(0%);-o-filter: grayscale(0%);cursor: pointer;transition: all 100ms ease;}
.warnDescribe {width:95%;}
.dropt img {width:20%; height:auto;}
span.dropt span {position: absolute; left: -9999px; top: 450px; margin:0; padding: 5px; border:solid 1px #F26C1E;}
span.dropt:hover {text-decoration: none; background: #fff; z-index: 6;}
span.dropt:hover span {margin: 20px 0 0 10px; left: 10px; background: #fff; z-index: 6;}
@media only screen and (max-width: 991px) {
  .probSidenav {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
  }
  .probSidenav {z-index:1;margin-bottom:0px;align:right;height:80px;}
  .probSidenav a{padding:0px 0px 2px 0px;height:80px;text-decoration:none;color:#fff;margin-bottom:0px;background-color:#777;border-bottom:solid 3px #fff;border-right:0px;}
  .probRed {color:#fff!important;background-color:#ff6600!important;text-decoration:none;border-bottom:solid 3px #ff6600!important;border-right:0px!important;}
  .probSidenav span {font-size:20pt;}
  .propNavItem {width:40px!important;margin-top:8px;}
  .probContainer {padding:0;margin:0;border:0px;height:auto;padding:0;}
  .dropt img {width:20%; height:auto;}
  .navbar-brand img {width:90%;height:auto;}
}
@media only screen and (max-width: 768px) {
  .navbar-collapse li a { background:#ff6600;color:#fff;}
  .navbar-collapse li a:hover { background:#D95700;color:#fff;}
  H2 {font-size:130%;}
}

.carContain {border:solid 1px #000;margin-left:0;}
.carHeader {background-color:#000;color:#fff;padding:10px;font-size:110%;}
.carData {padding:15px;font-size:120%;}

#services input {border:none;background-color:white;}
#services b {cursor:pointer;text-transform:uppercase;}
#services b:hover {cursor:pointer;color:#ff6600;}
#servicesRows td {}

#commonTable button {margin-right:5px;}

/* SERVICE CENTER STYLES */


/* Service Center Tabs styles */
main {
 max-width: 100%;
 margin: 0 auto;
 background: #fff;
}

div.inline {float:left;}
ol { counter-reset: level1 }
ol li.mapListNumber:before {background:#ff6600;font-size:16pt;border:solid 3px #ff6600;color:white;text-align:center;border-radius:100%;padding:0px 5px 0px 5px;height:35px;width:35px; content: counter(level1) " ";counter-increment: level1;}
.mapListBidPrice {color:#ff6600;font-size:16pt;float:right;}
.mapListCompany {font-size:13pt;font-weight:bold;}
.mapListAppt {font-size:9pt;}
.supersmall {color:black;font-size:10pt;}
.boldHead div {font-weight:bold;}

.apptTime button {width:65px;margin-bottom:5px;margin-right:4px;float:left;}

section {
 display:none;
 padding:20px;
 min-height:400px;
 max-height:100%;
 border: solid 2px #ff6600;
 overflow:hidden;
}

label.labelBG {
 font-weight: normal;
 display: inline-block;
 margin: 0;
 padding: 15px 25px;
 text-align: center;
 color: #fff;
 background-color:#888;
 border-bottom: 3px solid #fff;
}

label:before {
 font-family: fontawesome;
 font-weight: normal;
 margin-right: 10px;
}

label[for*='1']:before { content: '\f253'; }
label[for*='2']:before { content: '\f005'; }
label[for*='3']:before { content: '\f01c'; }
label[for*='4']:before { content: '\f1b9'; }

label.labelBG:hover {
 background-color: #999;
 cursor: pointer;
}

input:checked + label {
 color: #fff;
 background-color:#ff6600;
 border-bottom: 3px solid #ff6600;
}

.appts {
 background-color:#000;
}

.appts:hover {
 background-color: #000;
 cursor: pointer;
}

input:checked + .appts {
 color: #fff;
 background-color:#ff6600;
 border-bottom: 3px solid #ff6600;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
 display: block;
}

@media screen and (max-width: 750px) {
 label {
   font-size: 14px;
 }
 label:before {
   margin: 0;
   font-size: 18px;
 }
}

@media screen and (max-width: 400px) {
 label {
   padding: 15px;
 }
}

.btn-default:hover {background-color:#ff6600; color:#fff;}

/* Service Center Accordion styles */
button.myaccordion {
   background-color: #eee;
   color: #444;
   cursor: pointer;
   padding: 18px;
   width: 100%;
   border: none;
   text-align: left;
   outline: none;
   font-size: 15px;
   transition: 0.4s;
}

button.myaccordion:hover {
   background-color: #777;
   color:#fff;
}

button.myaccordion.active {
   background-color: #000;
   color:#fff;
}

button.myaccordion:after {
   font-family: fontawesome;
   font-weight: normal;
   margin-right: 12px;
   content: '\f0fe';
   color: #000;
   float: right;
   margin-left: 5px;
}

button.myaccordion.active:after {
   font-family: fontawesome;
   font-weight: normal;
   margin-right: 12px;
   content: "\f146";
   color: #bbb;
}

div.panel {
   padding: 0 18px;
   background-color: white;
   max-height: 0;
   overflow: auto;
   transition: 0.6s ease-in-out;
   opacity: 0;
}

div.panel.show {
   opacity: 1;
   max-height: 300px;
}
