



/* SERVICE CENTER STYLES */
/* Service Center Tabs styles */
main {
 max-width: 100%;
 margin: 0 auto;
 background: #fff;
}

div.inline {float:left;}
ol { counter-reset: level1 }
ol li.mapListNumber:before {background:#ff6600;font-size:16pt;border:solid 3px #ff6600;color:white;text-align:center;border-radius:100%;padding:0px 5px 0px 5px;height:35px;width:35px; content: counter(level1) " ";counter-increment: level1;}
.mapListBidPrice {color:#ff6600;font-size:16pt;float:right;}
.mapListCompany {font-size:13pt;font-weight:bold;}
.mapListAppt {font-size:9pt;}
.supersmall {color:black;font-size:10pt;}
.boldHead div {font-weight:bold;}
div .text-center {width:50px;}
div .text-center button {width:45px;margin-bottom:5px;}
.apptTime button {width:65px;margin-bottom:5px;margin-right:4px;float:left;}

section {
 display:none;
 padding:20px;
 min-height:400px;
 max-height:100%;
 border: solid 2px #ff6600;
 overflow:hidden;
}

label.labelBG {
 font-weight: normal;
 display: inline-block;
 margin: 0;
 padding: 15px 25px;
 text-align: center;
 color: #fff;
 background-color:#888;
 border-bottom: 3px solid #fff;
}

label:before {
 font-family: fontawesome;
 font-weight: normal;
 margin-right: 10px;
}

label[for*='1']:before { content: '\f253'; }
label[for*='2']:before { content: '\f005'; }
label[for*='3']:before { content: '\f01c'; }
label[for*='4']:before { content: '\f1b9'; }

label.labelBG:hover {
 background-color: #999;
 cursor: pointer;
}

input:checked + label {
 color: #fff;
 background-color:#ff6600;
 border-bottom: 3px solid #ff6600;
}

.appts {
 background-color:#000;
}

.appts:hover {
 background-color: #000;
 cursor: pointer;
}

input:checked + .appts {
 color: #fff;
 background-color:#ff6600;
 border-bottom: 3px solid #ff6600;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
 display: block;
}

@media screen and (max-width: 750px) {
 label {
   font-size: 14px;
 }
 label:before {
   margin: 0;
   font-size: 18px;
 }
}

@media screen and (max-width: 400px) {
 label {
   padding: 15px;
 }
}

.btn-default:hover {background-color:#ff6600; color:#fff;}

/* Service Center Accordion styles */
button.myaccordion {
   background-color: #eee;
   color: #444;
   cursor: pointer;
   padding: 18px;
   width: 100%;
   border: none;
   text-align: left;
   outline: none;
   font-size: 15px;
   transition: 0.4s;
}

button.myaccordion:hover {
   background-color: #777;
   color:#fff;
}

button.myaccordion.active {
   background-color: #000;
   color:#fff;
}

button.myaccordion:after {
   font-family: fontawesome;
   font-weight: normal;
   margin-right: 12px;
   content: '\f0fe';
   color: #000;
   float: right;
   margin-left: 5px;
}

button.myaccordion.active:after {
   font-family: fontawesome;
   font-weight: normal;
   margin-right: 12px;
   content: "\f146";
   color: #bbb;
}

div.panel {
   padding: 0 18px;
   background-color: white;
   max-height: 0;
   overflow: auto;
   transition: 0.6s ease-in-out;
   opacity: 0;
}

div.panel.show {
   opacity: 1;
   max-height: 300px;
}
