<div class="row">
<!-- Main page content -->
<!-- Page Content -->
        <div class="row banner01">
          <div id='mainContent'>

       <!-- Main page content -->
          <div class="col-md-12 col-sm-12" style="margin:25px 0 25px 0;">
            <div class="col-md-6 col-sm-12 text-left">
              <h1 class="light">Getting started is easy!</h1>
              <span class="mobileHide">
              <h2 class="light" style="font-weight:normal;">Create an account and in a few minutes nearby mechanics and service centers will give you a quote.</h2>
              <!-- <h3 class="light">It just takes a few easy steps to get you back on the road.</h3>
              <h3 class="light">Certified shops pass a rigorous inspection by our master mechanics for quality work and competitive pricing.</h3> -->
              </span>
            </div>
              <!-- Begin User sign_up -->
            <div class="col-md-6 col-sm-12 action_box">
            <%= render 'form' %>
              </div>
            </div>
          </div>
        </div>
      </div>
